Source: foomatic-filters
Section: text
Priority: optional
Maintainer: Chris Lawrence <lawrencc@debian.org>
Build-Depends-Indep: debhelper (>> 4), po-debconf
Standards-Version: 3.6.1

Package: foomatic-filters
Architecture: all
Pre-Depends: bash (>= 2.05)
Depends: ${perl:Depends}, ${misc:Depends}, ucf (>= 0.30)
Recommends: cupsys-client | lpr | lprng | pdq | rlpr, gs-esp | gs, cupsys | enscript | a2ps | mpage, foomatic-db-engine
Conflicts: foomatic-bin (<< 2.9), cupsomatic-ppd (<< 20030507)
Replaces: foomatic-bin (<< 2.9), cupsomatic-ppd
Description: linuxprinting.org printer support - filters
 Foomatic is a printer database designed to make it easier to set up
 common printers for use with Debian (and other operating systems).
 It provides the "glue" between a print spooler (like CUPS or lpr) and
 your actual printer, by telling your computer how to process files
 sent to the printer.
 .
 This package consists of filter scripts used by the printer spoolers
 to convert the incoming PostScript data into the printer's native
 format using a printer-specific, but spooler-independent PPD file.
 You will need to install the foomatic-db-engine package and its
 dependencies for this package to be useful.
 .
 For use with CUPS, you will need both the cupsys and cupsys-client
 packages installed on your system.
 .
 Home Page: http://www.linuxprinting.org/
